/* font-family: 'Comfortaa', cursive;
font-family: 'Gideon Roman', cursive; */

    /* <!--.container>.box.box$*10.box{$}*10-->
    <div */


/* .container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
} */
@media only screen and (min-width:768px) { /* Your CSS */ } 

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Gideon+Roman&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Gideon+Roman&family=Oswald:wght@200&display=swap');

a:link {
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    text-decoration: underline ;
}

a:active {
    text-decoration: underline;
}

*{
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: red;
    text-align: center;
    margin: 0px 750px 0px;
    padding: 10px 10px;
    margin-inline: auto;
}

body {
    text-align: center;
    background-color: white;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

body, html {
    background-image: url(SpainFans2.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

.footlinks {
    color: white;
    font-family: 'Comfortaa', cursive;
}

.text {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    background-color: red;
    text-align: center;
    margin: 0px 750px 0px;
    padding: 10px 10px;
    margin-inline: auto;

}

.flex-container {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    background-color: yellow;
    text-align: center;
    margin: 0px 750px 0px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
    margin-inline: auto;
}

.AboutText {
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: min(30vw);
    position: static;
    font-family: 'Comfortaa', cursive;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

.AboutText p {
    margin: 20px;
}

.AboutTitle {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    background-color: red;
    text-align: center;
    margin: 0px 750px 0px;
    padding: 10px 10px;
}

.PastText {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
    background-color: red;
    text-align: left;
    margin: 0px 750px 0px;
    padding: 10px 10px;
    margin-inline: auto;
}

.WC {
justify-content: right;
    top: 100;
}

.card {
    position: relative;
    padding: 2em;
    line-height: 0.8;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    width: min(90vw);
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    background: rgba(0, 0, 0, 0.9);
    background-size: cover;
}

.content {
    display: inline-block;
    margin-left: 10px;
    font-family: "Bebas Medium";
    font-size: 1.3rem;
    color: white;
}

.appstable {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: yellow;
    background-color: red;
    margin-inline: auto;
    width: 500px;
    font-weight: bold;
    color: yellow;
    border: 1px solid yellow;
}

.goalstable {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: yellow;
    background-color: red;
    margin-inline: auto;
    width: 500px;
    font-weight: bold;
    color: yellow;
    border: 1px solid yellow;
}

.goalstable th, td {
    border: 1px solid yellow;
    padding: 10px;
}

.appstable th, td {
    border: 1px solid yellow;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    width: min(90vw);
    position: relative;
    padding: 10px;
    width: 50%;
}

.containeralt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    width: min(44vw);
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    background: rgba(0, 0, 0, 0.9);
    background-size: cover;
}

.espflag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
